body {
  font-family: 'Verdana', 'Meiryo UI', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN', 'Noto Sans JP';
  font-size: 16px;
  line-height: 1.5;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  padding: 10px 30px; }

header > hr {
  border: 0 none; 
  height: 2px; 
  background-color: #cccccc;
}
  
body > *:first-child {
  margin-top: 0 !important; }
body > *:last-child {
  margin-bottom: 0 !important; }

.navbar-static-top {
  margin-bottom: 4px; }

.navbar-inner {
  min-height: auto; }

.doc-title, .doc-info, .navbar-text {
  font-size: 14px;
  line-height: normal;
  padding: 2px 20px; }

.navbar .nav.pull-right {
    margin-right: -35px;
}

a {
  color: #4183C4; }
a.absent {
  color: #cc0000; }
a.anchor {
  display: block;
  padding-left: 30px;
  margin-left: -30px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0; }

.title {
  font-size: 24px;
}
.author {
  text-align: right;
}
.date {
  text-align: right;
}

h1, h2, h3, h4, h5, h6 {
  margin: 20px 0 10px;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  cursor: text;
  position: relative; }

h1 {
  font-weight: bold;
}

h2, h3, h4, h5, h6 {
  font-weight: normal;
}
  
h1:hover a.anchor, h2:hover a.anchor, h3:hover a.anchor, h4:hover a.anchor, h5:hover a.anchor, h6:hover a.anchor {
  text-decoration: none; }

h1 tt, h1 code {
  font-size: inherit; }

h2 tt, h2 code {
  font-size: inherit; }

h3 tt, h3 code {
  font-size: inherit; }

h4 tt, h4 code {
  font-size: inherit; }

h5 tt, h5 code {
  font-size: inherit; }

h6 tt, h6 code {
  font-size: inherit; }

h1 {
  font-size: 19px;
  color: black; }

h2 {
  font-size: 19px;
  color: black; }

h3 {
  font-size: 19px; }

h4 {
  font-size: 17px; }

h5 {
  font-size: 17px; }

h6 {
  color: #777777;
  font-size: 17px; }

.toc {
  margin-right: 8px;
  font-size: 14px; }

.toc-navi {
  padding-left: 6px;
  font-size: 14px;
}

.toc-navi + ul {
  border-top: 1px solid #e5e5e5;
}

.toc ul, .toc ol, .toc dl, .toc li {
  margin: 3px 0; }

.nav p, .nav ul, .nav ol, .nav dl, .nav li {
  margin: 0; }
  
p, ul, ol, dl, li {
  margin: 8px 0; }

ul.task-list {
  list-style: none;
  padding-left: 0; }

ul.task-list li {
  padding-left: 1.5em; }

ul.task-list li label > input[type="checkbox"] {
  margin-right: 0.4em; }

blockquote, table, pre {
  margin: 15px 0; }

hr {
  border: 0 none;
  background-color: #cccccc;
  height: 1px;
  padding: 0; }

body > h2:first-child {
  margin-top: 0;
  padding-top: 0; }
body > h1:first-child {
  margin-top: 0;
  padding-top: 0; }
  body > h1:first-child + h2 {
    margin-top: 0;
    padding-top: 0; }
body > h3:first-child, body > h4:first-child, body > h5:first-child, body > h6:first-child {
  margin-top: 0;
  padding-top: 0; }

a:first-child h1, a:first-child h2, a:first-child h3, a:first-child h4, a:first-child h5, a:first-child h6 {
  margin-top: 0;
  padding-top: 0; }

h1 p, h2 p, h3 p, h4 p, h5 p, h6 p {
  margin-top: 0; }

li p.first {
  display: inline-block; }

ul, ol {
  padding-left: 30px; }

dl {
  padding: 0; }
  dl dt {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    padding: 0;
    margin: 15px 0 5px; }
    dl dt:first-child {
      padding: 0; }
    dl dt > :first-child {
      margin-top: 0; }
    dl dt > :last-child {
      margin-bottom: 0; }
  dl dd {
    margin: 0 0 15px;
    padding: 0 15px; }
    dl dd > :first-child {
      margin-top: 0; }
    dl dd > :last-child {
      margin-bottom: 0; }

blockquote {
  border-left: 4px solid #dddddd;
  padding: 0 15px;
  color: #777777; }
  blockquote > :first-child {
    margin-top: 0; }
  blockquote > :last-child {
    margin-bottom: 0; }

blockquote p {
  font-size: 16px;
  line-height: 1.5; }

.table {
  width: auto;
}

table {
  padding: 0;
  border-spacing: 0;
  font-size: 15px;
  border-collapse: collapse;
  min-width: auto;
  margin: 0 auto;
  }
  table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0; }
    table tr th {
      font-weight: bold;
      border: 1px solid #cccccc;
      background-color: #eaeaea;
      text-align: left;
      margin: 0;
      padding: 8px; }
    table tr td {
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 8px; }
      table td {
        line-height: 20px;
      }
    table tr th :first-child, table tr td :first-child {
      margin-top: 0; }
    table tr th :last-child, table tr td :last-child {
      margin-bottom: 0; }

img {
  max-width: 100%; }

span.frame {
  display: block;
  overflow: hidden; }
  span.frame > span {
    border: 1px solid #dddddd;
    display: block;
    float: left;
    overflow: hidden;
    margin: 13px 0 0;
    padding: 7px;
    width: auto; }
  span.frame span img {
    display: block;
    float: left; }
  span.frame span span {
    clear: both;
    color: #333333;
    display: block;
    padding: 5px 0 0; }
span.align-center {
  display: block;
  overflow: hidden;
  clear: both; }
  span.align-center > span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: center; }
  span.align-center span img {
    margin: 0 auto;
    text-align: center; }
span.align-right {
  display: block;
  overflow: hidden;
  clear: both; }
  span.align-right > span {
    display: block;
    overflow: hidden;
    margin: 13px 0 0;
    text-align: right; }
  span.align-right span img {
    margin: 0;
    text-align: right; }
span.float-left {
  display: block;
  margin-right: 13px;
  overflow: hidden;
  float: left; }
  span.float-left span {
    margin: 13px 0 0; }
span.float-right {
  display: block;
  margin-left: 13px;
  overflow: hidden;
  float: right; }
  span.float-right > span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: right; }

code, tt {
  font-family: Menlo, monospace, 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN', serif;
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  color: black;
  font-size: 15px;
  border-radius: 3px; }

pre {
  background: transparent; }
  
pre code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent; }

.highlight pre {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px; }

pre {
  border: 1px solid #cccccc;
  font-size: 16px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px; }

pre code, pre tt {
  background-color: transparent;
  font-size: 14px;
  border: none; }

/* Pandoc の構文ハイライト付きコードブロック:
   Pandoc CSS は div.sourceCode に overflow: auto、
   pre.sourceCode に overflow: visible を設定する。
   そのため border と padding を div.sourceCode (スクロールコンテナ) に
   移動し、横スクロール時に枠が動かないようにする。 */
div.sourceCode {
  border: 1px solid #cccccc;
  border-radius: 3px;
  padding: 6px 10px; }

div.sourceCode > pre {
  border: none;
  padding: 0; }

figure {
  border: 1px solid #cccccc;
  border-radius: 3px;
  padding: 8px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 0;
  margin-right: 0;
  text-align: center; /* テキストやインライン要素を中央揃えにする */
  display: flex;
  flex-direction: column;
  align-items: center; /* ブロック要素を中央揃えにする */
}

figcaption {
  margin-top: 8px;
  line-height: 1.1;
}

div[data-custom-style="Source Code Caption"] {
  text-align: center;
  line-height: 1.1;
}

.dcjq-count {
  display: none;
}

code span.al { color: #ff0000; font-style: normal; font-weight: bold; } /* Alert */
code span.an { color: #60a0b0; font-style: normal; font-weight: bold; } /* Annotation */
code span.at { color: #7d9029; font-style: normal; } /* Attribute */
code span.bn { color: #40a070; font-style: normal; } /* BaseN */
code span.bu { color: #008000; font-style: normal; } /* BuiltIn */
code span.cf { color: #007020; font-style: normal; font-weight: bold; } /* ControlFlow */
code span.ch { color: #4070a0; font-style: normal; } /* Char */
code span.cn { color: #880000; font-style: normal; } /* Constant */
code span.co { color: #60a0b0; font-style: normal; } /* Comment */
code span.cv { color: #60a0b0; font-style: normal; font-weight: bold;  } /* CommentVar */
code span.do { color: #ba2121; font-style: normal; } /* Documentation */
code span.dt { color: #902000; font-style: normal; } /* DataType */
code span.dv { color: #40a070; font-style: normal; } /* DecVal */
code span.er { color: #ff0000; font-style: normal; font-weight: bold; } /* Error */
code span.ex {                   font-style: normal; } /* Extension */
code span.fl { color: #40a070; font-style: normal; } /* Float */
code span.fu { color: #06287e; font-style: normal; } /* Function */
code span.im { color: #008000; font-style: normal; font-weight: bold; } /* Import */
code span.in { color: #60a0b0; font-style: normal; font-weight: bold; } /* Information */
code span.kw { color: #007020; font-style: normal; font-weight: bold; } /* Keyword */
code span.op { color: #666666; font-style: normal; } /* Operator */
code span.ot { color: #007020; font-style: normal; } /* Other */
code span.pp { color: #bc7a00; font-style: normal; } /* Preprocessor */
code span.sc { color: #4070a0; font-style: normal; } /* SpecialChar */
code span.ss { color: #bb6688; font-style: normal; } /* SpecialString */
code span.st { color: #4070a0; font-style: normal; } /* String */
code span.va { color: #19177c; font-style: normal; } /* Variable */
code span.vs { color: #4070a0; font-style: normal; } /* VerbatimString */
code span.wa { color: #60a0b0; font-style: normal; font-weight: bold; } /* Warning */

/* ============================================================
   展開可能リスト (collapsible-list)

   このクラスは追加クラス (modifier class) として設計されています。
   .collapsible-list 内のネストされたリストは、JavaScript により
   展開可能な <details>/<summary> 構造に変換されます。

   Markdown での使用方法:
   ::: {.collapsible-list}
   - 親項目
     - 子項目
   :::

   詳細は docs-src/collapsible-list.md を参照してください。
   ============================================================ */

/* details を持つ li は Bullet を非表示 (展開マーカーで代用) */
.collapsible-list li:has(> details) {
  list-style: none;
}

.collapsible-list details > summary {
  cursor: pointer;
  list-style: none;
  margin-left: -1.3em;
  padding-left: 1.3em;
}

.collapsible-list details > summary::-webkit-details-marker {
  display: none;
}

.collapsible-list details > summary::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-left: -1.25em;
  margin-right: 0.75em;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  transform: rotate(-45deg);
  position: relative;
  top: -1px;
}

.collapsible-list details[open] > summary::before {
  transform: rotate(45deg);
  top: -3px;
}

.collapsible-list details > summary:hover {
  background-color: #f5f5f5;
}

.collapsible-list details > ul,
.collapsible-list details > ol {
  margin-top: 3px;
}
