# node_modules
bin/node_modules

# output
docs

# oss
bin/license/jgm-pandoc
bin/modules/LibDeflate/*
!bin/modules/LibDeflate/put_LibDeflate_here
bin/pandoc.exe
bin/pandoc
bin/rsvg-convert.exe
#bin/rsvg-convert # ラッパーを設けたため、bin/rsvg-convert 自身は登録する
